.every{
    max-width: 100%;
    width: 100%;
    max-height: 100%;   
    margin-top: -10px; 
    margin-left: 0px
  
}
.col1{
    background-color: white;
    width: 50%;
    float: left;
    height: 100vh;  
}
.col2{
    background-color: rgb(91, 6, 112);
    float: right;
    width: 50%;
    height: 100vh;
}
.col1 .info{
    display: block;
    margin: 30px;
    color: rgb(16, 111, 143);
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.col1 form {
    display: inline-block;
      margin: -10px 40px;
    }

    form #title{
        display: block;
    background: none;
    border:4px solid white;
    width: 100%;
    border-bottom: 1px solid black;
    margin: 0px;
    padding:10px 5px;
       
   }
   form .wholename{
       display: block;
       width: 100%;
      
   }
  
    form .wholename #name{
        float: left;
        width: 40%;
        height: 50%;
        border: 1px solid white ;
        padding: 10px;
        margin-top: -10px;
        border-bottom: 1px solid black;
        
        
    }
    form .wholename #lastname{
        float: right;
        width: 40%;
        height: 50%;
        border: 1px solid white ;
        padding: 10px;
        margin-top: -10px;
        border-bottom: 1px solid black;

    }

form #post{
    display: block;
    background: none;
    border: 1px solid white;
    width: 100%;
    border-bottom: 1px solid black;
    margin-top: 20px;
    padding:10px 5px;
}
form #company{
    display: block;
    background: none;
    border: 1px solid white;
    width: 570px;
    border-bottom: 1px solid black;
    margin-top: -10px;
    padding:10px 5px;
  
}

.busees{
    display: block;
    max-width: 100%;
    width: 100%;
    max-height: 30%;
    margin-top: 20px;
    background-color: rgb(46, 43, 226);

}
form .busees #business{
    float: left;
    width: 40%;
    height: 50%;
    border: 1px solid white ;
    padding: 10px;
    margin-top: -10px;
    border-bottom: 1px solid black;

}
form .busees #employ{
    float: right;
        width: 45%;
        height: 50%;       
        border: 1px solid white ;
        padding: 10px;
        margin-top: -15px;
        margin-left: -40px;
        border-bottom: 1px solid black;

}
    .col2 .contact{
        display: block;
    margin: 30px;
    color: rgb(214, 199, 199);
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }
    .col2 form{
        display: inline-block;
        margin: -10px 40px;
    } 
 form #street{
    display: block;
    background: none;
    border:4px solid rgb(91, 6, 112);
    width: 97%;
    border-bottom: 1px solid black;
    margin-top: 10px;
    padding:10px 5px;
       
   

 }
 form #add{
    display: block;
    background: none;
    border:4px solid rgb(91, 6, 112);
    width: 97%;
    border-bottom: 1px solid black;
    margin-top: -10px;
    padding:10px 5px;
     
  
 }

 .ziplace{
    display: block;
    max-width: 100%;
    width: 100%;
    max-height: 30%;
    margin-top: 20px;
    background-color: rgb(46, 43, 226);

 }

 form .ziplace #zip{
    float: left;
        width: 40%;
        height: 50%;
        border: 1px solid rgb(91, 6, 112);
        background-color: rgb(91, 6, 112);
        padding: 10px;
        margin-top: -10px;
        border-bottom: 1px solid black;

 }
 form .ziplace #place{
    float: right;
    width: 50%;
    height: 50%;
    border: 1px solid rgb(91, 6, 112) ;
    background-color: rgb(91, 6, 112);
    padding: 10px;
    margin-top: -13px;
    border-bottom: 1px solid black;

 }
form #Country1{
    display: block;
    background: none;
    border:4px solid rgb(91, 6, 112);
    width: 100%;
    border-bottom: 1px solid black;
    margin-top: 30px;
    padding:10px 5px;   

}

form .codember{
    display: block;
       width: 100%;
       
    
}
form .codember #code1{
    float: left;
    width: 40%;
    height: 50%;
    border: 1px solid rgb(91, 6, 112);
    background-color: rgb(91, 6, 112);
    padding: 10px;
    margin-top: 10px;
    border-bottom: 1px solid black;

}
form #phone{
    float: right;
    width: 45%;
    height: 50%;
    border: 1px solid rgb(91, 6, 112);
    background-color: rgb(91, 6, 112);
    padding: 10px;
    margin-top:10px;
    border-bottom: 1px solid black;
}
form #email{
    /* display: block;
    background: none;
    border:4px solid rgb(91, 6, 112);
    width: 97%;
    border-bottom: 1px solid black;
    
    padding:10px 5px; */
    display: block;
    background: none;
    border: none;
    margin-top: 50px;
    outline: none;
    width: 560px;
    border-bottom: 1px solid black;
     padding:10px 5px;

}
form .check{
   color: bisque;
   
}
 form .check .checkbox{
     background-color: none;
     border-radius: 20px;
 }
form .check .terms{
    text-decoration: underline;
}
form #submit{
    border: 1px soldi white;
    color: black;
    border-radius: 15px;
    background-color: white;
    margin-top: 10px;
    padding: 10px;
    width: 160px;
}
Select
{
   color: #888;
}
.col1 form {
    display: inline-block;
     margin: 0px 20px;
    }

@media screen and (max-width: 600px){
    .col1, .col2{
        max-width: 100%;
        width: 90%;  
        margin: 0px
      
    }
    .col1{
        background-color:white;
        max-width: 100%;
        width: 100%;
        max-height: 100%; 
        height: 50%;  
    }
    .col2{
        background-color: gold;
        max-width: 100%;
        max-height: 100%;      
        width: 100%;
        height: 50%;

}
    
.col1 .info{
    display: block;
    margin: 10px;
    color: rgb(16, 111, 143);
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.col1 form {
    display: block;
      margin: -10px 10px;
    }
form #title{
background: none;
border:1px solid white;
width: 90%;
border-bottom: 1px solid black;


}

form .wholename{
    display:block;
    width: 90%;
}

form .wholename #name{
    /* display: inline-block; */
    float: left; 
    max-width: 50%;
    width: 40%;
    height: 50%;
    border: 1px solid white ;
    padding: 10px;
    margin-top: 0px;
    border-bottom: 1px solid black;
    
    
}
form .wholename #lastname{
    /* display: inline-block; */
     float: right; 
    max-width: 50%;

    width:40%;
    height: 50%;
    border: 1px solid white ;
    padding: 10px;
    margin-top: 0px;
    border-bottom: 1px solid black;

}


form #post{
    display: block;
    background: none;
    border: none;
    width: 90%;
    border-bottom: 1px solid black;
    margin-top: 30px;
    padding:10px 5px;
}
/* form #company{
    display: block;
    border: 1px solid white;
    max-width: 100%;
    width: 90%;
    border-bottom: 1px solid black;
    margin-top: 0px;
    padding:10px 5px;
  
} */
    
 
    /* float: right;
    position: absolute; */
    /* left: 345px; */
    /* top: 151px;
    width: 250px; 
    padding: 10px 5px;
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid black; */
   

}
/* 
    .col1, .col2{
        max-width: 100%;
        max-height: 100%;   
        margin-top: -10px; 
        margin-left: 0px
      
    }
    
    .col1{
        background-color: red;
        width: 50%;
        float: left;
        height: 100vh;
    }

    .col1 form {
        display: inline-block;
          margin: -19px 30px;
    }

    form #title{
        display: block;
        background: none;
        border:4px solid red;
        width: 220%;
        border-bottom: 1px solid rgb(12, 173, 66);
        margin: 0px;
        padding:10px 5px;
    
    }

    form  #name{
        display: block;
         width: 95%;
        padding: 10px 5px;
        border: none;
        background: none;
        outline: none;
        border-bottom: 1px solid green
    }
    form #lastname{
        display: inline-block;
   
        position: absolute;
        left: 260px;
        top: 144px;
        width: 20%; 
        padding: 10px 5px;
        border: none;
        background: none;
        outline: none;
        border-bottom: 1px solid green;
    }
    form #post{
        display: block;
        background: none;
        border:4px solid red;
        width: 220%;
        border-bottom: 1px solid green;
    
        margin: 0px;
        padding:10px 5px;
    }
    form #company{
        display: block;
    
        width: 215%;
        border-bottom: 1px solid green;
         padding:10px 5px;
    }

    form #business{
        display: block;
             width: 95%;
             margin: 20px;
             margin-left: 0px;
            padding: 10px 5px;
            border: none;
            background: none;
            outline: none;
            border-bottom: 1px solid green;

}

form #employ{
    float: right;
        position: absolute;
        left: 260px;
        top: 345px;
        width: 21%; 
        margin: 20px;
        margin-left: 0px;
        padding: 10px 5px;
        border: none;
        background: none;
        outline: none;
        border: 1px solid red;
        border-bottom: 1px solid green;

}

.col2 form{
    display: inline-block;
    margin: -10px 30px;
} 
form #street{
display: block;
background: none;
border: none;
outline: none;
width: 128%;
border-bottom: 1px solid black;
 padding:10px 5px;

}

form #add{
    display: block;
    background: none;
    border: none;
    outline: none;
    width: 77%;
    border-bottom: 1px solid black;
     padding:10px 5px;
 }
 form #zip{
    display: block;
    width: 30%;
 }
 form #place{
    left: 770px;
     width: 22%; 
 }

 form #Country1{ 
    width: 78%;
}

form #code1{
   
    width: 30%;
}

form #phone{  
    left: 770px;
    width: 20.5%; 
   
}

form #email{ 
    width: 128%;  

}

} */